node_modules

/.cache
/build
.npmrc
.specstory
# SpecStory explanation file
.specstory/.what-is-this.md
/public/manifest.json
.DS_Store
app/.DS_Store
app/components/.DS_Store
app/pages/.DS_Store
public/.DS_Store
